.heading{
    // border:  solid blue;
    height: 8%;

}
.heading > ion-fab > ion-icon {
    font-size: xx-large;
    color: white;
}

ion-content{
  overflow: hidden;
}
.main-content{
    // border: solid red;
    width: 100%;
    height: 100%;
}
.content-cover{
    // border: solid blue;
    width: 95%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    margin: 0 auto;
}
.cartTitle > ion-title {
    color: black;
    font-size: 1.5rem;
    padding-bottom: 30px;
}
.profile-section{
    border-bottom: 0.5px solid rgb(217, 219, 216);
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    margin-bottom: 16px;
}
.profile-picture{
    // border: solid black;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.profile-picture > ion-avatar {
    width: 169px;
    height: 169px;
    border-radius: 50PX;
    margin: 0 auto;
    justify-content: center;
}.profile-picture > ion-avtar > img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.profile-details{
    // border: solid orange;
    width: 50%;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // justify-content: space-between;
    // justify-content: space-around;

}
.profile-details > div {
    // padding-bottom: 8px;

}
.edit{
    margin-top: 40%;
}
.edit > ion-icon {
    font-size: x-large;
}
.name > ion-label {
    font-size:25px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.email > ion-label {
    font-size: 18px;
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    // margin-top: -8px;
}
.address, .contacts > ion-label {
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 8px;
}






$midnight: #dfdfdf;
$clouds: #ecf0f1;
// General


input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.tabs {
  border-radius: 8px;
  overflow: auto;
//   box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: #707070;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-bottom: 0.5px solid #e4e2e2;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    // background: $midnight;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: #707070;
    // background: white;
    transition: all .35s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }

}
.pedding-oders{
    border-bottom: 0.5px solid rgb(217, 219, 216);
    width: 90%;
    height: 143px;
    display: flex; 
    flex-direction: row; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    margin-top: 16px;
}
.image{
    // border:  solid blue;
    width: 129px;
    height: 143px;

}
.image > img {
    height: 129px;
    width: 129px;
    object-fit: cover; 
       margin-bottom: 16px;
}
.details{
    // border: solid black;
    // width: 100%;
    padding-left: 16px;
}
.invoice > ion-label {
    color: black;
    font-size: 19px;
    font-weight: 600;
}
.purchase-date > ion-label {
    color: #707070;
}
.track-button{
    width: 60%;
    margin: 0 auto;
    padding-top: 16px;
}


