<div class="popover-container">
  <div class="buttons">
      <ion-button color="primary" fill="clear" slot="end"  >Login </ion-button>
      <ion-button  color="primary" fill="clear" slot="end"  >Register</ion-button>
      <ion-button  fill="clear"  color="primary" fill="clear" slot="end">Profile</ion-button>
      <ion-button color="primary" fill="clear" slot="end">Logout</ion-button>
  </div>
</div>


<!--  (click)="showLogin()" (click)="DismissClick() " *ngIf="!checkUser"
  (click)="goRegister()" (click)="DismissClick() " *ngIf="!checkUser" 
   (click)="openProfile()" (click)="DismissClick() "    *ngIf="checkUser" 
   (click)="logOut()" (click)="DismissClick() " *ngIf="checkUser"

-->