
<ion-content>
  <div  class="products-section" *ngFor="let event of Sales">
    <div *ngIf="Sales" class="cards"(click)=" addToCart(event)">
      <img class="animated fadeInDown 2s" src="{{event.obj.image}}" alt="">
      <ion-label class="price">R &nbsp; {{event.obj.price}}</ion-label>
      <ion-label class="name"> {{event.obj.name}} </ion-label>
      <div class="stars">
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star-half" color="warning"></ion-icon>
        <ion-icon name="star-outline" color="warning"></ion-icon>
      </div>
    </div> 
    </div>
</ion-content>
