

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <div class="title">
          <div class="text" padding>Special Up to 75%</div>
          <div padding>
            <ion-button fill="outline" color="light"> Shop Now </ion-button>
          </div>
        </div>
      </ion-title>
    </ion-toolbar> 
         <div class="navigation-bar">
          <nav>
            <ul class="menu">
              <li class="logo"><img src="../../assets/Group 60.png" alt=""></li>         
              <!-- <li class="item"><a href="#">Home</a></li> -->
              <ion-button class="item" color="medium"  fill="clear" (click)="openHome()" slot="end">Home</ion-button>
              <ion-button class="item" color="medium"  fill="clear" (click)="categorylist()" slot="end">About Us</ion-button>
              <ion-button class="item" color="medium"  fill="clear" (click)="categorylist()" slot="end">Contact Us </ion-button>
              <ion-button class="item" color="medium"  fill="clear" (click)="categorylist()" slot="end">FARQ's</ion-button>

              <ion-button class="item" color="medium"  fill="clear" (click)="categorylist()" slot="end"> 
                 <ion-icon name="person"></ion-icon>
                </ion-button>
                <ion-button class="item" color="medium"  fill="clear" (click)="categorylist()" slot="end"> 
                  <ion-icon name="cart"></ion-icon>
                 </ion-button>
                 <ion-button class="item" color="medium"  fill="clear" (click)="categorylist()" slot="end"> 
                  <ion-icon name="heart"></ion-icon>
                 </ion-button>



              <!-- <li (click)="categorylist()" class="item">About</li> -->
              <!-- <li class="item"><a href="#">FARQ's</a></li> -->
              <!-- <li class="item"><a href="#">Contact</a></li> -->
              <!-- <li class="item button"><a href="#">
                  <ion-icon name="person"></ion-icon>
                </a></li>
              <li class="item button"><a href="#">
                  <ion-icon name="cart"></ion-icon>
                </a></li>
              <li class="item button"><a href="#">
                  <ion-icon name="heart"></ion-icon>
                </a></li> -->
              <li class="toggle"><a href="#">
                  <ion-icon name="close"></ion-icon>
                </a></li>
            </ul>
          </nav>
        </div>
  </ion-header>
<!-- [ngClass]="{'flipInX': list, 'flipOutX': !list}"    <div>
*ngFor="let event of Products"
 *ngIf="myProduct"
                    <div  class="wishListIcon">
                      <ion-icon name="heart" color="dark"></ion-icon>
                  </div>    </div> -->
<ion-content>
<div class="content-container" >


            <!-- view by categories section -->
          <div class="categorySection animated fadeInDown 2s "  >
            <div class=" categoryList">
              <div class="cards-container" >
                <div  class="products-section" *ngFor="let event of Products">
                <div *ngIf="myProduct" class="cards"(click)=" createViewProduct(event)">
                  <img class="animated fadeInDown 2s" src="{{event.obj.image}}" alt="">
                  <ion-label class="price">R &nbsp; {{event.obj.price}}</ion-label>
                  <ion-label class="name"> {{event.obj.name}} </ion-label>
                  <div class="stars">
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star" color="warning"></ion-icon>
                    <ion-icon name="star-half" color="warning"></ion-icon>
                    <ion-icon name="star-outline" color="warning"></ion-icon>
                  </div>
                </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
</ion-content>
