ion-content{
    top: 20%;
}
.content-container {
    height: 100%;
    width: 75%;
    // border: solid blue;
    margin: 0 auto;
    margin-bottom: 5%;
  }
.categorySection{
    // border: solid red;
    height: 100%;
    margin-bottom: 40px;
  }
  .categoryList{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

  }
  
.cards-section {
    width: 90%;
    // border: solid rgb(3, 163, 255);
    height: 100%;
    // display: flex;
    margin: 0 auto;
  }
  .specials-title {
    text-align: left;
    // border-bottom: solid black;
    border-bottom: 0.5px solid #7070709d;
  }
  .cards-container {
    display: flex;
    margin: 0 auto;
    margin-top: 16px;
    // border: solid rgb(6, 238, 199);
    width: 100%;
    // height: 50%;
    justify-content: space-evenly;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cards {
    width: 234px;
    height: 367px;
    // border:  solid rgb(10, 66, 250);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 0.5px solid #70707042;
    // max-width: 200px;
  }
  .cards > img {
    width: 222px;
    height: 268px;
    border-radius: 6px;
    border: 0.5px solid #7070703a;
    margin: 0 auto;
    margin-top: 5px;
  }
  .cards > ion-label {
    text-align: center;
  }
  .cards > .price {
    font-weight: bolder;
    color: #4e4e4e;
    font-size: 18px;
  }
  .name {
    font-size: 12px;
    font-weight: lighter;
    color: #4e4e4e;
  }
  .stars {
    text-align: center;
    font-size: 1.5rem;
  }
  .wishListIcon{
    // position: relative;
    text-align: right;
    margin-right: 16px;
    bottom: 200%;
    font-size: xx-large;
    // padding-bottom: 500px;
 
    }
    .products-section{
      // border: solid lightcoral;
      display: flex;
      margin: auto;
      justify-content: center;
      justify-content: space-around;
      margin-bottom: 3%;
    }
   